# Temporary files
~$*
Thumbs.db
.DS_Store

# Large binary files
*.exe
*.msi
*.zip
*.rar
*.7z

# Large folders - exclude from git
ОБДМСО/Студентам МГТУ ALL/
ОБДМСО/ДЗ3/
ОБДМСО/ДЗ1/Metanome/
ОБДМСО/ДЗ1/2025 Для выполнения ДЗ ОБД СМО/
АСОИиУ/ИУ5Ц-11М Чудновский КР АМ АСОИиУ/Студенческая версия GPSS (установщик)/
МАДвСИИ/Mathcad 15/
ТПРО/Лаб_1/
ТПРО/Лаб_2/
ТПРО/Лаб2_1/
